// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#admin-page {
  padding-top: 0;
}
//Fix for bootstrap file inputs
[hidden] {
  display: none !important;
}

.categories{
  columns: 3;
}
